In [28]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import math

%matplotlib inline

from sklearn.model_selection import cross_val_score, train_test_split

from sklearn.ensemble import GradientBoostingRegressor

from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

In [2]:
df = pd.read_csv("trainregressor.csv")

In [3]:
df.head()

,0,1,2,3,4,5,6,7,Gender,MaritalStatus,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren,YearlyIncome,Age,AveMonthSpend
0,0,0,0,0,0,0,1,0,1,0,1,-1.320246,-0.656710,-0.006876,1.502657,-0.396685,89
1,0,0,0,0,0,0,1,0,1,1,0,-0.442232,1.320040,0.587186,0.576502,-0.307694,117
2,0,0,0,0,0,0,1,0,1,0,1,-0.442232,1.320040,0.587186,0.345102,-0.307694,123
3,0,0,0,0,0,0,1,0,0,1,0,-0.442232,-0.656710,-1.195002,0.212819,-0.574666,50
4,0,0,0,0,0,0,1,0,0,1,1,2.191812,2.637874,1.775311,0.365887,-0.574666,95

### Split data and start training

In [5]:
X = df.iloc[:,0:16]
y = df.iloc[:,16]

In [6]:
X.head()

,0,1,2,3,4,5,6,7,Gender,MaritalStatus,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren,YearlyIncome,Age
0,0,0,0,0,0,0,1,0,1,0,1,-1.320246,-0.656710,-0.006876,1.502657,-0.396685
1,0,0,0,0,0,0,1,0,1,1,0,-0.442232,1.320040,0.587186,0.576502,-0.307694
2,0,0,0,0,0,0,1,0,1,0,1,-0.442232,1.320040,0.587186,0.345102,-0.307694
3,0,0,0,0,0,0,1,0,0,1,0,-0.442232,-0.656710,-1.195002,0.212819,-0.574666
4,0,0,0,0,0,0,1,0,0,1,1,2.191812,2.637874,1.775311,0.365887,-0.574666

In [7]:
y.head()

0     89
1    117
2    123
3     50
4     95
Name: AveMonthSpend, dtype: int64

In [8]:
X.values, y.values

(array([[ 0.        ,  0.        ,  0.        , ..., -0.00687645,
          1.50265655, -0.39668469],
        [ 0.        ,  0.        ,  0.        , ...,  0.58718608,
          0.5765021 , -0.30769417],
        [ 0.        ,  0.        ,  0.        , ...,  0.58718608,
          0.34510189, -0.30769417],
        ...,
        [ 0.        ,  0.        ,  0.        , ...,  1.77531115,
          1.37950816,  1.91706882],
        [ 0.        ,  1.        ,  0.        , ...,  1.18124862,
         -1.16506383,  1.3831257 ],
        [ 0.        ,  1.        ,  0.        , ...,  1.18124862,
         -0.47428537,  1.47211622]]),
 array([ 89, 117, 123, ...,  79,  65,  68], dtype=int64))

In [10]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=1234)

In [11]:
X_train.shape

(13215, 16)

In [13]:
X_test.shape

(3304, 16)

In [15]:
model = GradientBoostingRegressor(random_state=1234)

### Perform cross-validation

In [22]:
score = cross_val_score(model,X,y,cv=5, scoring='neg_mean_squared_error')
score

array([-10.37905538, -10.13506761, -10.14967651,  -9.84431469,
       -10.59125289])

In [23]:
score.mean()

-10.219873416016252

### Fit and do prediction

In [24]:
model.fit(X_train,y_train)

GradientBoostingRegressor(alpha=0.9, ccp_alpha=0.0, criterion='friedman_mse',
                          init=None, learning_rate=0.1, loss='ls', max_depth=3,
                          max_features=None, max_leaf_nodes=None,
                          min_impurity_decrease=0.0, min_impurity_split=None,
                          min_samples_leaf=1, min_samples_split=2,
                          min_weight_fraction_leaf=0.0, n_estimators=100,
                          n_iter_no_change=None, presort='deprecated',
                          random_state=1234, subsample=1.0, tol=0.0001,
                          validation_fraction=0.1, verbose=0, warm_start=False)

In [25]:
y_pred = model.predict(X_test)

In [26]:
y_pred

array([ 51.04952737, 139.07355186,  49.25587648, ...,  62.47957124,
        81.35402071,  80.38546144])

### Model evaluation

In [31]:
mae = mean_absolute_error(y_test,y_pred)
mae

2.5154368023920197

In [32]:
mse = mean_squared_error(y_test,y_pred)
mse

9.954290451168086

In [33]:
rmse = np.sqrt(mse)
rmse

3.155042068050454

In [35]:
R2score = r2_score(y_test,y_pred)
R2score

0.9873669315691596

### Load test data and predict

In [36]:
test = pd.read_csv("testregressor.csv")

In [37]:
test.head()

,0,1,2,3,4,5,6,7,Gender,MaritalStatus,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren,YearlyIncome,Age
0,0,0,0,0,1,0,0,0,0,1,0,0.435783,-0.656710,1.775311,0.218934,1.472116
1,0,0,0,0,0,0,0,1,1,0,1,0.435783,0.661124,1.181249,0.550936,-0.218704
2,1,0,0,0,1,0,0,0,0,0,1,0.435783,-0.656710,1.181249,0.648066,2.451012
3,1,0,0,0,0,0,0,1,1,0,1,-1.320246,-0.656710,1.181249,1.231247,0.315239
4,0,1,0,0,0,1,0,0,0,0,1,-0.442232,0.661124,-0.006876,-1.418054,-0.307694

In [38]:
test.shape

(500, 16)

In [39]:
test.values

array([[ 0.        ,  0.        ,  0.        , ...,  1.77531115,
         0.21893391,  1.47211622],
       [ 0.        ,  0.        ,  0.        , ...,  1.18124862,
         0.55093635, -0.21870365],
       [ 1.        ,  0.        ,  0.        , ...,  1.18124862,
         0.64806607,  2.45101194],
       ...,
       [ 0.        ,  0.        ,  0.        , ...,  0.58718608,
         1.50643102,  2.18404038],
       [ 0.        ,  0.        ,  1.        , ..., -0.00687645,
         0.58465496,  0.40422998],
       [ 0.        ,  1.        ,  0.        , ...,  1.18124862,
        -1.48770559,  1.29413518]])

In [40]:
y_pred2 = model.predict(test)

In [41]:
y_pred2

array([ 46.94023614, 113.02756108,  46.04870674,  86.06545079,
        61.22953579,  47.70987803,  92.91790192, 141.40253358,
        99.53980721,  54.65060749,  57.73161022,  53.18442954,
        72.80075933,  49.48464757,  40.51214681,  53.80704489,
        83.30913614,  71.85273927,  98.45156269,  59.54148265,
        66.54446441,  74.42825635, 166.18683793,  83.47950839,
        54.79525098,  68.68912979,  86.38025338, 123.5840566 ,
        77.18492745,  60.99921741,  64.73272796,  79.44770998,
        45.06479134,  69.76494704,  96.24511265,  98.94201954,
       166.69035635,  93.7304523 ,  55.18450057,  86.38025338,
        49.80242945,  78.26868114,  78.88659935,  51.65543141,
        56.93775022,  74.42825635,  61.92703236,  80.35989323,
       121.70812739,  80.17549157,  77.07169097,  88.33779127,
        77.87782415,  63.12879767,  50.2882531 ,  76.08832325,
        56.77471527,  73.24008284,  60.65230766,  66.25531832,
        48.4910548 ,  63.32389832,  89.01761532,  79.28225811,
        47.17203947,  76.80935441,  77.7915213 , 150.04884251,
        60.8823023 ,  96.41821533,  80.18290964,  66.24334214,
        95.27825061,  48.32458794,  63.86728267,  79.28225811,
       109.32984611,  61.90551457,  57.95486156,  49.29868348,
        84.02587619,  71.71182592,  51.09780534,  84.26686599,
        86.74875475,  49.74411449,  82.75740542, 128.21922655,
        95.34658503,  55.63826657,  49.51192298,  88.33779127,
        47.78339795,  51.47832735,  42.9922052 , 151.93119552,
        55.20475455,  52.25361653,  48.74114607,  54.22264352,
        98.83962016,  71.32081425,  51.46143687, 127.22368751,
        83.47950839, 108.99519527,  39.9268162 ,  46.35047618,
        48.81301606,  60.66657565,  88.73020867,  50.0125649 ,
        80.18290964,  62.6835939 ,  71.76615238,  85.23236636,
        43.34960611,  43.42012277,  49.02868321,  87.61993346,
       135.76101066,  84.02587619,  78.78218203,  43.48097597,
        74.80643302,  57.34368929,  64.79780252,  88.59360741,
        86.90362278, 119.35829247,  42.26946392,  87.55202648,
       122.97857879,  47.06214154,  52.63836416, 102.63150397,
       167.08511091,  82.75740542,  82.56142106,  82.14090497,
        86.23582304,  47.52760071, 125.41452919,  39.60704835,
        73.78124577,  59.87649857,  53.34852096,  42.92464885,
        60.67754904,  60.577516  ,  91.42054931,  65.17647749,
        67.76853625,  76.09250846, 106.83126282,  40.73081448,
        75.24116963,  58.26426841,  75.52853599,  88.19155266,
        42.27053364,  68.50932046,  59.36302276,  99.50384791,
        99.59444227,  57.71885546,  89.73067332, 105.69840104,
        87.87133911,  42.26946392,  79.15467487,  73.8470399 ,
        77.5270852 ,  81.79886996,  47.10709334,  40.19149453,
       102.08304375,  72.80075933,  48.41908727, 149.85112776,
        40.10028878,  45.23134579,  96.91246894,  67.11245659,
        38.95982612,  46.3346479 ,  60.82437506,  63.5115956 ,
        52.87320215,  57.84099539,  80.21275482,  77.98234956,
        76.08832325,  84.56310951,  81.30410365,  65.71080956,
        50.0125649 ,  74.42825635,  48.96297907,  87.42986927,
        56.55563792,  78.94230548,  40.01758929,  76.36260185,
       145.40154883,  80.71311008, 104.82364928,  99.25421392,
        69.79977858,  61.86201963,  77.12322244,  66.2301329 ,
       128.45977726,  47.4456509 ,  49.34390552,  74.80643302,
        48.44492513,  56.40937951,  78.94807427,  80.12658806,
        45.34523451,  72.76361004,  92.16891394,  62.29375909,
        56.52635701,  48.66927875,  59.0248695 ,  89.25219468,
        81.48230441,  89.07521947,  89.97521084,  49.49307915,
        69.72865057,  66.22235228, 114.9495514 ,  67.31998321,
        88.80021789,  95.00615788,  47.4456509 ,  71.59427847,
        84.91290625,  62.1245247 ,  44.27641734,  57.78476316,
        66.60617567,  49.71090488,  76.08832325,  66.53374746,
        76.59624184,  84.0631005 ,  99.53304474,  55.22260735,
        53.40039638,  43.25119075, 145.86612466,  88.10420757,
        52.67697551,  77.74113819, 133.32809213,  78.10732285,
        43.42523516,  67.63573014,  84.32004597,  62.54155669,
        70.07288704,  64.73272796,  48.34651878,  77.18492745,
       112.22590797,  59.00024971,  97.55549436,  47.05159124,
        85.4761942 ,  64.65295797, 110.48968041,  43.63039077,
       151.96399826,  51.38805224, 108.67528578,  73.03548656,
        90.30294513,  57.57259705,  68.92706256,  55.13942098,
        52.81914679,  38.94919812,  72.98222639,  44.6291475 ,
        50.28272945,  66.5242013 ,  77.59854125,  53.0928793 ,
        86.38025338, 161.40147617,  74.23426181, 112.47101904,
       151.41540678,  43.63039077,  64.65295797,  40.24516639,
        49.80242945,  56.45896504, 112.34593779, 106.4759257 ,
        77.06458002,  39.80973928,  88.51642835, 165.59728142,
       135.37161097,  72.04761659,  45.11761501,  96.91246894,
       166.93529189,  55.0933633 ,  79.41205676,  45.58658418,
        40.95598518,  62.93630886, 152.39979637,  72.17173786,
        71.0097622 ,  63.99432648,  51.39023807,  41.15628121,
       145.52237402,  56.30996251,  47.4456509 ,  79.02149837,
        56.88754885,  49.80242945,  84.34201696,  82.06677996,
       109.63907429,  56.7146067 ,  66.60617567, 103.96888514,
        77.90703043,  43.6810636 , 127.24888213,  49.75616952,
        91.09825636,  73.23613775,  71.60181457,  75.82440864,
        74.19226467,  61.10616744,  77.2805353 ,  56.30702267,
       100.97984042,  79.19500901,  70.19138892,  77.82363476,
        47.83326334,  58.28333301,  51.88281981,  83.66236971,
        79.28225811,  55.74411719,  58.72365417,  54.64407783,
        97.85289473,  69.10817224,  75.10616551,  73.79949277,
        66.25531832,  61.3981743 ,  47.05159124,  53.5946755 ,
        48.51858248,  62.49778312, 148.96601632,  46.19479593,
        91.80085048,  68.9585917 ,  79.79049224,  49.41001205,
        73.55008661,  49.18303438,  45.76012428, 150.59551596,
        98.27367246,  77.32062641,  39.55517986,  70.293519  ,
        49.34390552,  79.49338669, 121.78293907,  48.90495777,
        87.77882237,  78.12574866,  89.21862601,  56.16836665,
       121.14744478,  68.12041352,  49.34390552,  74.70668549,
        79.49316075,  41.48537402,  62.43215752,  73.12495343,
        47.31591921, 152.39979637, 120.33898365,  92.68695882,
        58.80616081,  85.03356783, 107.91852766,  46.78822109,
        80.17549157,  50.76668187, 112.62820723,  63.89900992,
        72.94969998,  58.42555808,  86.90362278,  70.57403378,
        83.60822345, 165.38204507, 100.82675423,  66.50208125,
        70.54664037,  40.93143583,  55.18665935,  66.41634682,
        55.68371734,  46.78822109,  51.70370938,  59.43887607,
        58.46579772,  62.07337596,  43.34960611, 103.50371974,
        93.80025043, 126.95839864, 108.85203024,  78.01767601,
        66.05056439,  70.81009951,  74.19226467,  75.43607673,
        53.80704489,  97.18506616,  88.48066415, 103.01466167,
        43.63204609,  75.85076604,  49.45526322, 110.09660634,
        59.37061892,  49.41001205,  44.75356913, 123.5840566 ,
        83.05998411,  53.41219199,  76.26388196,  53.02220973,
        78.39570414,  68.17201573,  51.65543141,  94.55514217,
        77.50054653,  40.95598518, 105.69840104,  42.39945905,
        92.41997436,  74.96089442,  54.61909987,  87.79053594,
        53.04947127,  58.97631327,  48.83581261,  85.17624568,
        92.43830853,  50.81353569,  58.72219468,  65.33277684,
        64.89333117, 146.15383063, 134.50032053, 143.72804485,
       138.3831773 ,  80.95476807, 101.77252446,  74.49418779,
        72.44908065,  36.20314179, 164.37656968,  53.41462749,
        89.252544  ,  87.90095203,  62.15403795,  89.51200902,
       142.50625724,  73.01701932,  55.38262491,  50.15865265,
        85.14804573,  72.2628427 ,  55.26879963,  38.39781812])

### Save the results

In [42]:
regresult = pd.DataFrame(y_pred2,columns=['AveMonthSpend'])

In [43]:
regresult

     AveMonthSpend
0        46.940236
1       113.027561
2        46.048707
3        86.065451
4        61.229536
..             ...
495      50.158653
496      85.148046
497      72.262843
498      55.268800
499      38.397818

[500 rows x 1 columns]

In [44]:
#regresult.to_csv("r2result.csv",index=False)